    <header>
      <div class="container">
        <a class="logo" href="/"><%= @app['name'] %></a>

        <div class="nav-wrap is-collapsed">
          <nav class="nav-header">
            <ul class="nav-list">
              <li class="nav-item" >
                <a class="nav-link" href="/news">News</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/rules">Rules</a>
              </li>
              <li class="nav-item" >
                <% if @user %>
                <a class="nav-link" href="/target">Target</a>
                <% else %>
                <a class="nav-link" href="/about">About</a>
                <% end %>
              </li>
              <li class="nav-item" >
                <% if @user %>
                <div class="account is-loggedin">
                  <div class="avatar-link is-loggedin" href="/profile">
                    <img class="avatar" src="https://graph.facebook.com/<%= @user['id'] %>/picture" alt="<%= @user['name'] %>">
                  </div>
                  <a href="/profile" class="display-name"><%= @user['name'] %></a>
                </div>
                <% else %>
                <a href='/auth/facebook' class="fb_button fb_button_medium">
                  <span class="fb_button_text">Log In</span>
                </a>
                <% end %>
              </li>           
            </ul>
          </nav>
        </div>
      </div>
    </header>