<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
  <%= render("erb", File.read("views/head.erb")) %>
  </head>
  <body>
    <%= render("erb", File.read("views/facebody.erb")) %>
    <%= render("erb", File.read("views/header.erb")) %>
    <div class="wrapper">
      <div><h1>Assassin(the game)</h1></div>
      <ol id="posts" class="clearfix shadow">
        <li class="post">
          <div>
            <h1>Hello World</h1>
          </div>
        </li>
        <li class="post">
          <div>
            <h1>This is a Test</h1>
          </div>
        </li>
      </ol>
    </div>
  </body>
</html>